<style>
    .borderline1 {
        height: 2px;
        background-color: #FFC107;
        /* margin-left: 2px;
        margin-right: 2px; */
    }

    @media (max-width: 768px) {
        .home-container-left {
            background-image: url('/static/bg_1_1_1.png');
            background-size: contain;
            /* Cover the whole div */
            background-position: top;
            background-position-x: right;
            background-repeat: no-repeat;
        }
    }

    .home-container-left::before {
        opacity: 0.3;
        background-image: url('/static/math-geo.jpg');
        /* background-size: contain;
        /* Cover the whole div */
        /* background-position: center;
        background-repeat: no-repeat;  */

    }

    .progress {
        margin-left: 10px;
        margin-right: 10px;
    }


    .progress-bar.active {
        animation: reverse progress-bar-stripes 0.40s linear infinite, animate-positive 2s;
    }

    @-webkit-keyframes animate-positive {
        0% {
            width: 0%;
        }
    }

    @keyframes animate-positive {
        0% {
            width: 0%;
        }
    }

    #my_introduction {
        text-align: justify;
    }

    .table th,
    .table td {
        border-bottom: none !important;
        border-left: none !important;
    }
</style>