<br>
<div class="row position-relative">
    <div class="home-container-left col-md-6 my-auto">
        <div class="text ms-2 p-2">
            <span class="subheading text-primary fw-bold fs-6">HELLO!</span>
            <h1 class="mb-4 mt-3 text-dark fw-bolder fs-1">I'm <span class="text-primary fs-1">Shailesh
                    Suthar</span>
            </h1>

            <!-- Element to contain animated typing -->
            <span class="text-dark fw-bold fs-3" id="typing-animation"></span>

            <script src="/static/js/playTypingAnimation.js"></script>

            <br>
            <br>

            <h2 class="text-primary fw-bold fs-3 pb-2">A Dat<span class="text-dark">a Analyst</span></h2>


            <p><a href="https://pypi.org/user/Shaileshsuthar676/"
                    class="btn btn-primary py-6 px-4 me-2 my-1 rounded-4 fw-bold">PyPi
                    Repo</a>
                <a href="https://github.com/shaileshsuthar675"
                    class="btn btn-outline-dark py-6 px-4 rounded-4 me-2 fw-bold">My
                    works</a>
            </p>
        </div>
    </div>
    <div class="d-none d-md-block col-6">
        <img src="/static/imgs/bg_1_1_1.png" class="img-fluid rounded-2 shadow-sm float-end" height="100">
    </div>
</div>

<!-- ------------------ -->
<section id="tools-section">
    <div class="borderline1">
    </div>
</section>