<br><br><br>

<div class="container" id="resume-section">
	<h1 class="text-primary fw-bold fs-1">Res<span class="text-dark">ume</span></h1>
	<br>
	<div class="row text-justify pb-2">
		<div class="col paragraph fs-6 fw-medium text-secondary">
			<p>As an adept Data Analyst, I possess a diverse skill set encompassing data mapping, advanced
				technological applications, data visualization, business and project management, and rigorous
				data quality assessment.</p>
		</div>
	</div>


	<div class="container experience-container pb-0 px-0">
		<h2 class="subheading-title mb-3 py-4">Professional Experience</h2>

		<div class="row g-4">
			<div class="col-md-6">
				<div class="experience-card bg-light rounded-4 p-4 ftco-animate" style="--delay: 1">

					<span class="date-badge">2023-Present</span>
					<h2 class="mb-3">Data Analyst</h2>
					<span class="position text-muted"></span>
					<p class="text-dark link-underline-opacity-0">
						<img src="/static/imgs/saarthee.png" width="50" height="25" class="company-logo rounded-2">
						Saarthee.ai
					</p>
					<p class="mt-4">Providing end-to-end CRM solutions to the telecom firm.
					<ul class="list-styled">
						<li class="bullet_point">CRM & Sales Automation</li>
						<li>Developed Sales-Hub application in Dynamics 365</li>
						<li>Automated tasks with Power Automate</li>
						<li class="bullet_point">Data Visualization, ETL & GenAI</li>
						<li>Created seven Power BI dashboards for comprehensive data analysis</li>
						<li>Implemented campaign automation workflow using Knime Analytics Platform</li>
						<li>developed SaarATS, a GenAI chatbot with custom dataset, and deployed it over Databricks</li>
					</ul>
					</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="experience-card bg-light rounded-4 p-4 ftco-animate" style="--delay: 2">

					<span class="date-badge">July - Dec, 2022</span>
					<h2 class="mb-3">Data Analyst</h2>
					<p class="text-dark link-underline-opacity-0">
						<img src="/static/imgs/JPMC.png" width="50" height="30" class="company-logo rounded-2">
						JP Morgan Chase & Co.
					</p>
					<p class="mt-4">Worked on Risk Project & Solution team at Global Risk & Compliance.
					<ul class="list-styled">
						<li class="bullet_point">Risk Report Automation</li>
						<li>Developed Python interface to automate daily risk reports</li>
						<li>Reduced report generation time from 6 hours to minutes</li>
						<li class="bullet_point">Outlook Meeting Scheduler</li>
						<li>Created auto-scheduling platform for Outlook meetings</li>
						<li>Integrated conflict avoidance mechanisms</li>
					</ul>
					</p>
				</div>
			</div>

			<div class="col-md-6 offset-md-3">
				<div class="experience-card bg-light rounded-4 p-4 ftco-animate" style="--delay: 3">
					<span class="date-badge">May - June, 2022</span>
					<h2 class="mb-3">Data Analyst</h2>


					<p class="text-dark link-underline-opacity-0">
						<img src="/static/imgs/JCF_bg.png" width="40" height="25" class="company-logo rounded-2">
						Jaipur Clubfoot Pvt Ltd
					</p>
					<p class="mt-4">Comprehensive design and development of Remedial Orthosis for CTEV.
					<ul class="list-styled">
						<li class="bullet_point">Machine Learning Research</li>
						<li>Developed ML model for optimizing SLA printing parameters</li>
						<li>Published research paper on dimensional variation optimization</li>

					</ul>
					</p>
				</div>
			</div>
		</div>
	</div>

	<script src="/static/js/ftco-animate.js"></script>

	<!--  -->

	<br>
	<br>
</div>