<div class="skills-container">
    <h2 class="subheading-title mb-3 pb-4">Tools and Technologies</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="skills-category">
                <div class="category-header" onclick="toggleSkills(this)">
                    <h2>Language</h2>
                    <span class="toggle-icon">▼</span>
                </div>
                <div class="skills-list active">
                    <div class="skill-item">
                        <img src="/static/Tools/pypi.png" alt="Python">
                        <span>Python</span>
                    </div>
                    <div class="skill-item">
                        <img src="/static/Tools/OOP Code.png" alt="OOPs">
                        <span>OOPs</span>
                    </div>
                    <div class="skill-item">
                        <img src="/static/Tools/jira.png" alt="Jira">
                        <span>Jira</span>
                    </div>
                    <div class="skill-item">
                        <img src="/static/Tools/agile methodology.png" alt="Agile">
                        <span>Agile</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="skills-category">
                <div class="category-header" onclick="toggleSkills(this)">
                    <h2>Analytical Tools</h2>
                    <span class="toggle-icon">▼</span>
                </div>
                <div class="skills-list active">
                    <div class="skill-item">
                        <img src="/static/Tools/Knime.png" alt="Knime">
                        <span>Knime</span>
                    </div>
                    <div class="skill-item">
                        <img src="/static/Tools/mysql.png" alt="MySQL">
                        <span>MySQL</span>
                    </div>
                    <div class="skill-item">
                        <img src="/static/Tools/SPSS.png" alt="SPSS">
                        <span>SPSS</span>
                    </div>
                    <div class="skill-item">
                        <img src="/static/Tools/alteryx.png" alt="Alteryx">
                        <span>Alteryx</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="skills-category">
                <div class="category-header" onclick="toggleSkills(this)">
                    <h2>CRM Tools</h2>
                    <span class="toggle-icon">▼</span>
                </div>
                <div class="skills-list active">
                    <div class="skill-item">
                        <img src="/static/Tools/Dynamic 365.png" alt="Dynamic 365">
                        <span>Dynamic 365</span>
                    </div>
                    <div class="skill-item">
                        <img src="/static/Tools/Power Apps.png" alt="Power Apps">
                        <span>Power Apps</span>
                    </div>
                    <div class="skill-item">
                        <img src="/static/Tools/Power Automate.png" alt="Power Automate">
                        <span>Power Automate</span>
                    </div>
                    <div class="skill-item">
                        <img src="/static/Tools/Ribbon workbench.png" alt="Ribbon Workbench">
                        <span>Ribbon Workbench</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="skills-category">
                <div class="category-header" onclick="toggleSkills(this)">
                    <h2>MS Office</h2>
                    <span class="toggle-icon">▼</span>
                </div>
                <div class="skills-list active">
                    <div class="skill-item">
                        <img src="/static/Tools/MS Excel.png" alt="MS Excel">
                        <span>MS Excel</span>
                    </div>
                    <div class="skill-item">
                        <img src="/static/Tools/Power Query Editor.png" alt="Power Query Editor">
                        <span>Power Query Editor</span>
                    </div>
                    <div class="skill-item">
                        <img src="/static/Tools/Power Pivot.png" alt="Power Pivot">
                        <span>Power Pivot</span>
                    </div>
                    <div class="skill-item">
                        <img src="/static/Tools/Excel VBA.png" alt="Excel VBA">
                        <span>Excel VBA</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 offset-md-3">
            <div class="skills-category">
                <div class="category-header" onclick="toggleSkills(this)">
                    <h2>Visualization Tools</h2>
                    <span class="toggle-icon">▼</span>
                </div>
                <div class="skills-list active">
                    <div class="skill-item">
                        <img src="/static/Tools/Power BI.png" alt="Power BI">
                        <span>Power BI</span>
                    </div>
                    <div class="skill-item">
                        <img src="/static/Tools/Tableau.png" alt="Tableau">
                        <span>Tableau</span>
                    </div>
                    <div class="skill-item">
                        <img src="/static/Tools/Neo4j.png" alt="Neo4j">
                        <span>Neo4j</span>
                    </div>
                    <div class="skill-item">
                        <img src="/static/Tools/Cognos.png" alt="Cognos">
                        <span>Cognos</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/toggleSkills.js"></script>