<div class="education-container">
    <h2 class="subheading-title mb-3 pb-4">Educational Background</h2>
    <br><br>

    <div class="education-timeline">
        <div class="education-item">
            <div class="education-date">2019 - 2023</div>
            <h2 class="education-degree">Bachelor of Technology</h2>
            <div class="education-institution">Malaviya National Institute of Technology, (MNIT) Jaipur</div>
            <div class="education-grade">CGPA: 7.89</div>
        </div>

        <div class="education-item">
            <div class="education-date">2017 - 2018</div>
            <h2 class="education-degree">Higher Secondary School</h2>
            <div class="education-institution">Gayatri Vidhya Mandir, Pali</div>
            <div class="education-grade">Grade: 81.80%</div>
        </div>
    </div>


    <div class="cv-download">
        <a href="/static/docs/Shailesh's Resume.pdf" onclick="openPopup(); return false;"
            class="btn btn-outline-primary">
            Download CV
        </a>
    </div>
</div>

<script>
    function openPopup() {
        window.open(
            "/static/docs/Shailesh's Resume.pdf"
        );
    }
</script>