<section id="project-section"></section>

<h2 class="subheading-title mb-3 pb-4">Projects Work</h2>
<div class="col paragraph fs-6 fw-medium text-secondary">
    <p>find a curated selection of my key projects, showcasing my skills, creativity, and professional expertise.
        Each project reflects a unique challenge I've tackled, demonstrating my ability to deliver impactful
        solutions. Explore these highlights to gain insight into my work and its real-world applications.</p>
</div>


<div class="projects-container">

    <div class="project-grid">
        <!-- Project 1 -->
        <div class="project-card">
            <img src="/static/imgs/autonomous_vehicle.jpg" alt="Project 1" class="project-image">
            <div class="project-content">
                <h2 class="project-title">Motion in control 2021 & Autonom India 2021</h2>
                <p class="project-description">
                    The prime objective of the event is to design and develop an Autonomous 4 Wheeled 4-Seater Electric
                    vehicle for Urban Mobility based on the Indian Traffic Scenario.
                </p>
                <div class="project-technologies">
                    <span class="tech-tag">Python</span>
                    <span class="tech-tag">Machine Learning</span>
                    <span class="tech-tag">IPG-Carmaker</span>
                    <span class="tech-tag">MATLAB</span>
                </div>
                <div class="project-links">
                    <a href="https://github.com/shaileshsuthar675/Autonom-SAEINDIA/tree/main"
                        class="project-btn">GitHub</a>
                </div>
            </div>
        </div>

        <!-- Project 2 -->
        <div class="project-card">
            <img src="/static/imgs/PyPI.jpg" alt="Project 2" class="project-image">
            <div class="project-content">
                <h2 class="project-title">PyautoPDF library to streamline Report Automation</h2>
                <p class="project-description">
                    Automated daily risk report generation, reducing a five to six-hour manual process to a
                    significantly shorter timeframe, and removing the dependecies of user on the daily BAUs.
                </p>
                <div class="project-technologies">
                    <span class="tech-tag">Python</span>
                    <span class="tech-tag">OOPs</span>
                    <span class="tech-tag">Data Analytics</span>
                    <span class="tech-tag">Excel</span>
                    <span class="tech-tag">BAU's</span>
                </div>
                <div class="project-links">
                    <a href="https://pypi.org/project/PyautoPDF/" class="project-btn">PyPi Repo</a>
                </div>
            </div>
        </div>

        <!-- Project 3 -->

        <div class="project-card">
            <img src="/static/imgs/excel image.jpg" alt="Project 3" class="project-image">
            <div class="project-content">
                <h2 class="project-title">Excel Data Entry Form With VBA</h2>
                <p class="project-description">
                    The VBA project streamlined data transfer within Excel through a user-friendly form interface. Users
                    could seamlessly copy and paste data as values, creating new Excel files or worksheets.
                </p>
                <div class="project-technologies">
                    <span class="tech-tag">Excel</span>
                    <span class="tech-tag">Excel-VBA</span>
                    <span class="tech-tag">VBA-Forms</span>
                </div>
                <div class="project-links">
                    <a href="https://github.com/shaileshsuthar675/Excel-Data-Entry-Form-With-VBA"
                        class="project-btn">GitHub</a>
                </div>
            </div>
        </div>
        <!-- Project 4 -->
        <div class="project-card">
            <img src="/static/imgs/collage-maker.jpg" alt="Project 3" class="project-image">
            <div class="project-content">
                <h2 class="project-title">Collage
                    Image Creator using computer vision</h2>
                <p class="project-description">
                    The objective of this project was to develo a custom collage by adjusting the number of input photos
                    using this algorithm. It control foreground image opacity for collage creation with this method.
                </p>
                <div class="project-technologies">
                    <span class="tech-tag">Python</span>
                    <span class="tech-tag">Computer Vision</span>
                    <span class="tech-tag">Machine Learning</span>
                </div>
                <div class="project-links">
                    <a href="https://github.com/shaileshsuthar675/Computer-Vision/tree/main/collage%20image%20creator"
                        class="project-btn">GitHub</a>
                </div>
            </div>
        </div>
        <!-- Project 5 -->
        <!-- <div class="project-card">
            <img src="/static/imgs/proj_3.jpg" alt="Project 3" class="project-image">
            <div class="project-content">
                <h2 class="project-title">Autonomous Vehicle Simulation</h2>
                <p class="project-description">
                    Developed a sophisticated autonomous vehicle simulation using machine
                    learning and computer vision techniques.
                </p>
                <div class="project-technologies">
                    <span class="tech-tag">Python</span>
                    <span class="tech-tag">Computer Vision</span>
                    <span class="tech-tag">Machine Learning</span>
                </div>
                <div class="project-links">
                    <a href="#" class="project-btn">GitHub</a>
                </div>
            </div>
        </div> -->
    </div>
</div>