<section id="contact-section"></section>

<div class="summary-container">
    <div class="summary-grid">
        <div class="summary-card">
            <div class="summary-content">
                <a class="btn">
                    <p class="number">12+</p>
                    <p class="label">Projects</p>
                </a>
            </div>
        </div>
        <div class="summary-card">
            <div class="summary-content">
                <a class="btn">
                    <p class="number">7+</p>
                    <p class="label">Achievements</p>
                </a>
            </div>
        </div>
        <div class="summary-card">
            <div class="summary-content">
                <a class="btn">
                    <p class="number">4.0</p>
                    <p class="label">Employee Rating</p>
                </a>
            </div>
        </div>
        <div class="summary-card">
            <div class="summary-content">
                <a class="btn">
                    <p class="number">35+</p>
                    <p class="label">Cups of Coffee</p>
                </a>
            </div>
        </div>
    </div>
</div>
<br><br>
<br><br>
<div class="row justify-content-center">
    <div class="col-md-7 ftco-animate text-center">
        <h2>More projects on<span> Github </span> </h2>
        <br><br>
        <div class="heading">
            <h4> I love to solve business problems &amp; uncover hidden data stories </h4>
            <br>
            <br>
            <p><a href="https://pypi.org/user/Shaileshsuthar676/"
                    class="btn btn-primary py-6 px-2 me-2 my-0 rounded-4 fw-bold">PyPi
                    Repo</a>
                <a href="https://github.com/shaileshsuthar675"
                    class="btn btn-outline-dark py-6 px-2 rounded-4 me-2 fw-bold">Github</a>
            </p>
        </div>
    </div>
</div>

<br><br>